@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .poppins{
    font-family: 'Poppins', sans-serif !important;
  }
  .inter{
    font-family: 'Inter', sans-serif !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #3772FF;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.selected{
  position: relative;
}
.selected::before{
  content: '';
  position: absolute;
  width: 4px;
  background-color: #3772FF;
  left: 0;
  height: 102px;
  border-radius: 16px;
}